body{width: 50%;
margin: 10px auto;
}

form {
    border: 3px solid #f1f1f1;

}

.h-One {
  font-family: 'Ubuntu';
  font-size: 42px;
}

b{
  font-family: 'Ubuntu';
  font-size: 20px;
}

button{
  font-family: 'Ubuntu';
  font-size: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:#af4c69;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:#2c3e50;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 25%;
    border-radius: 20%;
}

.container {
    padding: 16px;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
