
body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
  background-image: url("medical.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1{
  font-family: 'Ubuntu';font-size: 42px;
}
.hero-text {

  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c3e50;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}



.hero-text button:hover {
  background-color: #555;
  color: white;
}
